.head {
    outline: 1px solid #ECECEC;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__link {
    display: block;
    display: flex;
    align-items: center;
    padding: 32px 0;
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--accent-color);
    }
}

.nav__link--current {
    color: var(--accent-color);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
    
            background-color: var(--accent-color);
            border-radius: 2px;
            outline: none;
        }
}

.head__wrapper {
    display: flex;
    justify-content: space-between;

}

.nav__item {
    position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
}


/* Контакты Хэдера */

.nav__icon {
    fill: currentColor;
    margin-right: 10px;
}



.nav__link--connect {
    color: var(--primary-text-color);
}


.nav__list {
    display: flex;
    margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}